* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

#navbar {
  overflow: hidden;
  background-color: white;
  padding: 60px 60px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid black;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 38px;
  font-weight: 200;
  transition: 0.4s linear;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar-left {
  float: left;
}
#logo {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  display: block;
}
#navbar-button {
  float: right;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin-right: 20px;
  font-size: 18px;
}
#mobile-menu {
  display: none;
}
#main-head {
  width: 100%;
  height: 100vh;
  padding: 0px;
  background-color: black;
  display: inline-block;
}
#main-head h1 {
  margin-top: 25%;
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  font-size: 80px;
  font-weight: 900;
  color: white;
  vertical-align: middle;
}
#main-head h6 {
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
  font-weight: 100;
  color: white;
  vertical-align: middle;
}
#shop {
  background-color: white;
  border: none;
  color: black;
  padding: 22px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  font-size: 18px;
}
#info1 {
  height: 60vh;
  background-color: white;
  position: relative;
  padding: 5% 10% 5% 5%;
}
#info1 h1 {
  float: right;
  font-size: 52px;
  margin-bottom: 2px;
}
#info1 p {
  float: right;
  font-size: 28px;
  text-align: end;
}

#info2 {
  height: 60vh;
  background-color: black;
  color: white;
  position: relative;
  padding: 5% 10% 5% 5%;
}
#info2 h1 {
  font-size: 52px;
  margin-bottom: 2px;
}
#info2 p {
  font-size: 28px;
}

#info3 {
  height: 60vh;
  background-color: white;
  position: relative;
  padding: 5% 10% 5% 5%;
}
#info3 h1 {
  float: right;
  font-size: 52px;
  margin-bottom: 2px;
}
#info3 p {
  float: right;
  font-size: 28px;
  text-align: end;
}
#subscribe {
  height: 60vh;
  background-color: white;
  position: relative;
  padding: 5% 10% 5% 5%;
}
#subscribe h1 {
  font-size: 52px;
  margin-bottom: 2px;
  text-align: center;
}
#subscribe p {
  font-size: 28px;
  text-align: center;
}
#subscribe #sub-button {
  text-align: center;
  background-color: black;
  border: none;
  color: white;
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  font-size: 18px;
  margin-top: 2%;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

@media only screen and (max-width: 815px) {
  #navbar a:not(#logo) {
    display: none;
  }
  #logo {
    position: absolute;
    left: 25%;
    bottom: 20%;
    display: block;
    font-size: 28px !important;
  }
  #navbar {
    padding: 30px 40px;
  }
  #navbar-button {
    display: none;
  }
  #mobile-menu {
    float: right;
    margin-right: -20px;
    display: block;
  }
  #main-head h1 {
    margin-top: 55%;
    margin-bottom: 0px;
    font-size: 60px;
  }
  #main-head h6 {
    margin-top: 30px;
    font-size: 24px;
  }
  #shop {
    margin-top: 20%;
  }
  #info1,
  #info2,
  #info3 {
    height: 80vh;
    padding: 1% 5%;
  }
  #info1 h1,
  #info2 h1,
  #info3 h1 {
    font-size: 42px;
    margin-bottom: 4px;
  }
  #info1 p,
  #info2 p,
  #info3 p {
    font-size: 20px;
    margin-top: 0px;
  }
  .social {
    float: none !important;
    display: block !important;
    margin-top: 10%;
  }
  .social i {
    font-size: 32px !important;
  }
  .info {
    display: block !important;
  }
  #subscribe h1 {
    font-size: 30px;
  }
  #subscribe p {
    font-size: 20px;
  }
  #subscribe {
    margin-top: 10%;
  }
  #subscribe #sub-button {
    padding: 20px 30px;
  }
  .overlay {
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: none;
    background-color: black;
  }
  .overlay h1 {
    color: white;
  }
}
.overlay {
  display: none;
}
.modal-open {
  overflow: hidden;
}
.icon {
  width: 30px;
  height: 30px;
  position: relative;
}
.line {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 30%;
  transition: cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
  top: 18%;
}
.middle {
  top: 48%;
}
.bottom {
  top: 78%;
}
.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}
.icon.close .middle,
.icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}
footer {
  width: 100%;
  min-height: 10vh;
  padding: 8vh 4vw;
  background-color: black;
  color: white;
}
footer h1 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 500;
}
.social {
  float: right;
  letter-spacing: 20px;
}
