*{
  margin: 0px;
  padding: 0px;
  border:none;
  outline:none;
}
body{
  position: relative;
  background-color: #DF3F3F;
  min-height: 100vh;
  overflow-x:hidden
}
.div1{
  background-color: transparent!important;
}
/* NAVBAR */
li::after{
	-o-transition:.5s;
	-ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   transition:.5s;
   width: 0%;
   position: absolute;
  content: '';
  height: 5px;
  top: 60px;    
  border-radius: 3.5px; 
  margin: -12px auto;
	left: 0;
  right: 0;
}
li:hover::after{
  
  width: 80%;
  background: white;

}
.active::after{
  position: absolute;
  content: '';
  height: 10px;
  bottom: -4px;    
  height: 7px;
  border-radius: 3.5px; 
  margin: -8px auto;
	left: 0;
  right: 0;
  width: 10px;
  background: white;
	-o-transition:.5s;
	-ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   transition:.5s;
}
li{
  list-style-type: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 54px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
li:not(:first-child){
  margin-left: 128px;
}

ul{
  text-align: center;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
nav{
  position: sticky;
  height: 8vh;
  top:0;
  z-index: 9999;
  transition:0.3s linear
}
nav img{
  position:absolute;
  display: inline-block;
  height: inherit;
  left: 5vw;
  height: 100%;
  top:10%
}
/* NAVBAR KHATAM */
/* HOME SHURU */
.centrr{
width:100vw;
padding: 0px;
margin: 0px;
margin-top:5vh;
position: relative;
}

.bands{
  width:50%;
  position:absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%,0%);
}
.first{
  position: relative;
}
.word{
  position:absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* SAYLUS */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 7.5vw;
  text-align: center;

  color: #FFFFFF;
}
.balls{
  z-index: 0;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  width:40%;
}
.motto{
position: relative;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 66px;
line-height: 99px;
text-align: center;

color: #FFFFFF;
margin-bottom: 20px;
}
/* HOME KHATAM */
/* ABOUT START */
.about{
  min-height:100vh;
  width:100vw;
}
.leftab{
  width:50%;
  float: left;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
}
.rightab{
  width:50%;
  height: 100vh;
  float: right;
  background-color: #F2F2F2;
  position: relative;
}
.leftab.dband{
  background-color: #F2F2F2;
}
.rightab.dband{
  background-color: #FFFFFF;
}
.leftab.team{
  width:100%;
}
.texts{
  width:520px;
  margin: 0px;
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%)
}
.texts h1{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 96px;
line-height: 144px;

color: #DF3F3F;
margin-bottom: 60px;
}
.texts p{

  margin-bottom: 60px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;

color: #030303;


}
.texts button{
border: 1px solid #DF3F3F;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
padding:8px 44px;
color: #DF3F3F;


border-radius: 63px;
}
/* ABOUT KHATAM */
/* ANIMATIONS */
@keyframes spin {
  0% {  transform:rotate(10deg)}; 
 100%{ transform:rotate(0deg)}
 } 
@keyframes float{
 0% {  transform:translateX(-20px);
       transform: translateY((-10px))
   }; 
 100%{ transform:translateX(0px);
       transform: translateY((-10px))
 }
}
@keyframes fadeIn {
 0% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
/* ANIMATIONS KHATAM */
/* SCROLLBAR */
  ::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 

    }
    ::-webkit-scrollbar-thumb {
    background: #DF3F3F; 
    border-radius:5px
    }
/* SCROLLBAR KHATAM */