*{
  margin: 0px;
  padding: 0px;
}
body{
  position: relative;
  background-color: #F1F1F1;

  overflow: hidden;
}

/* NAVBAR */
.active::after{
  position: absolute;
  content: '';
  height: 7px;
  bottom: -4px;    
  height: 7px;
  border-radius: 3.5px; 
  margin: -8px auto;
	left: 0;
  right: 0;
  width: 80%;
  background: #D3003C;
	-o-transition:.5s;
	-ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   transition:.5s;
}
li{
  list-style-type: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 54px;
  color: #D3003C;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
li:not(:first-child){
  margin-left: 64px;
}
li::after{
	-o-transition:.5s;
	-ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   transition:.5s;
   width: 0%;
   position: absolute;
  content: '';
  height: 7px;
  top: 60px;    
  height: 7px;
  border-radius: 3.5px; 
  margin: -8px auto;
	left: 0;
  right: 0;
}
li:hover::after{
  
  width: 80%;
  background: #D3003C;

}
ul{
  text-align: center;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
nav{
  position: relative;
  height: 8vw;
}
nav img{
  position:absolute;
  display: inline-block;
  height: inherit;
  left: 10vw;
}
/* NAVBAR KHATAM */
/* MAIN */
.main{
  height: 80vh;
  text-align: center;
  position: relative;
  width: 100%;
}
.main .band{

  height: 100%;
  left: 25%;
  transform: translateX(-50%);
}
.main .band img{
  height: 100%;
  animation:spin 4s alternate infinite;
}
.band,.txt{
  display: inline-block;
  position: absolute;
}
.txt{
  height: 100%;
  z-index: -1;
  left:30%;
}
.txt img{
  height: 40%;
  margin-top: 100%;
  float: left;
}
.txt p{
  display:  block;
  position: absolute;
  /* A F E T Y I M P L I F I E D. */
  text-align: start;
  position: absolute;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 7vw;

  color: #D3003C;

  
  top: 50%;
  transform: translateY(-30%);
  left: 100%;
  width: 40vw;
}
.main button{
  position: absolute;
  bottom:10%;
  background: #D3003C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 96.5px;
  color: #FFFFFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 54px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  z-index: 20;
}
button:active{
  outline: none;
}
@keyframes spin {
   0% {  transform:rotate(10deg)}; 
  100%{ transform:rotate(0deg)}
  } 
@keyframes float{
  0% {  transform:translateX(-20px);
        transform: translateY((-10px))
    }; 
  100%{ transform:translateX(0px);
        transform: translateY((-10px))
  }
}
/* MAIN KHATAM */